@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-400%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slideUp-text {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}


@keyframes hoverUp {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-10%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0)), url("../img/background-image.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.nav-buttons {
    display: inline-block;
    transition: 0.25s;
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 13px;
    font-weight: lighter !important;
    color: #ccd6f6 !important;
}


.nav-buttons:hover {
    color: aquamarine !important;
}

.center {
    text-align: center;
}

.intro {
    margin-top: 10vmin;
    max-width: 40vmax !important;
}

#hello {
    padding-bottom: 5px;
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: rgb(54, 108, 255);
    display: block;
    animation: slideUp-text 1s, fadeIn 2s;
}

#name {
    padding-top: 5px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: bold;
    font-size: 3vmax;
    color: #ffffff;
    animation: slideUp-text 1s, fadeIn 2s;
}

#description {
    padding-top: 5px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: bold;
    font-size: 2vmax;
    color: #c5cbdf;
    animation: slideUp-text 1s, fadeIn 2s;
}

#long-description {
    padding-top: 5px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: lighter !important;
    font-size: 20px;
    color: #acb5d1;
    display: block;
    animation: slideUp-text 1s, fadeIn 2s;
}

#resume {
    animation: slideRight 2s, fadeIn 4s !important;
    margin-top: 2vmax;
    margin-right: 20px;
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace !important;
    font-weight: lighter;
    color: rgb(54, 108, 255);
    border-color: rgb(54, 108, 255);
    box-shadow: 2in;
}

#contact {
    animation: slideRight 2s, fadeIn 4s !important;
    margin-top: 2vmax;
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace !important;
    font-weight: lighter;
    color: rgb(54, 108, 255);
    border-color: rgb(54, 108, 255);
    box-shadow: 2in;
}

#resume:hover {
    background-color: rgb(0, 15, 56);
}

#contact:hover {
    background-color: rgb(0, 15, 56);
}

.footer-button {
    padding: 10px;
    color: #ccd6f6;
}

.footer-button:hover {
    color: rgb(54, 108, 255);
}

.horizontal-list {
    padding: 0;
    text-align: center;
}
.horizontal-list li {
    display: inline;
}

.horizontal-list li a:hover {
    transform: translateY(-10%);
}

#github-button {
    transition: 0.25s;
    display: inline-block;
    animation: fadeIn 1s, slideUp 0.25s;
}

#twitter-button {
    transition: 0.25s;
    display: inline-block;
    animation: fadeIn 1s, slideUp 0.5s;
}

#linkedin-button {
    transition: 0.25s;
    display: inline-block;
    animation: fadeIn 1s, slideUp 0.75s;
}

#ig-button {
    transition: 0.25s;
    display: inline-block;
    transition: 0.25s;
    animation: fadeIn 1s, slideUp 1s;
}

