@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-400%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes hoverUp {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-10%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0%);
    }
}


* {
    background-color: #08192f !important;
}

.nav-buttons {
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 13px;
    font-weight: lighter !important;
    color: #ccd6f6 !important;
}


.nav-buttons:hover {
    transform: scale(0.9);
    color: aquamarine !important;
}

.center {
    text-align: center;
}

.intro {
    margin-top: 10vmin;
    max-width: 70vmax !important;
}

#hello {
    padding-bottom: 5px;
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    color: aquamarine;
    display: block;
    animation: slideRight 1s, fadeIn 2s;
}

#name {
    padding-top: 5px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: bold;
    font-size: 5vmax;
    color: #ccd6f6;
    animation: slideRight 1.25s, fadeIn 2s;
}

#description {
    padding-top: 5px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: bold;
    font-size: 3vmax;
    color: #8892b0;
    animation: slideRight 1.5s, fadeIn 2s;
}

#long-description {
    padding-top: 5px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: lighter !important;
    font-size: 20px;
    color: #8892b0;
    display: block;
    animation: slideRight 2s, fadeIn 2s !important;
}

#resume {
    display: block;
    animation: slideRight 2s, fadeIn 4s !important;
    margin-top: 2vmax;
    font-family: SF Mono, "Fira Code", "Fira Mono", "Roboto Mono", monospace !important;
    font-weight: lighter;
    color: aquamarine;
    border-color: aquamarine;
}

#resume:hover {
    background-color: rgba(102, 205, 170, 0.27) !important;
}

.footer-button {
    padding: 10px;
    color: #ccd6f6;
}

.footer-button:hover {
    color: aquamarine !important;
}

.horizontal-list {
    padding: 0;
    text-align: center;
}
.horizontal-list li {
    display: inline;
}

.horizontal-list li a:hover {
    transform: scale(0.9);
}

#github-button {
    display: inline-block;
    animation: fadeIn 1s, slideUp 0.25s;
}

#twitter-button {
    display: inline-block;
    animation: fadeIn 1s, slideUp 0.5s;
}

#linkedin-button {
    display: inline-block;
    animation: fadeIn 1s, slideUp 0.75s;
}

#ig-button {
    display: inline-block;
    animation: fadeIn 1s, slideUp 1s;
}

/*#ig-button:hover {*/
/*    transform: scale(0.9);*/
/*}*/

.home {
    animation: slideDown 0.25s;
}

.about {
    animation: slideDown 0.5s;
}

.contact {
    animation: slideDown 0.75s;
}

.projects {
    animation: slideDown 1s;
}

